<<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>HINA KHAN</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>


html, body {
  overflow-x: hidden;
}


        #background-img1-div{
            height : 1800px ;
            background-image : url("/images/bg-image1.jpg");
            background-size: cover ;
            background-attachment: fixed;
        }

        .dropdown:hover .dropdown-menu {
            display: block; 
        }
        
        .row a:hover {
           color: rgb(94, 166, 142) !important ; 
        }
    

        /* gjhdasjh */

        .slides_img{
    width:390px;
    height:600px;
    background-color: rgb(219, 219, 219);
    margin:8px;
    display:inline-block;
    /* border:1px solid grey; */
  }

  .slider{
      margin-bottom:100px;
      animation:carousal 8s ease-out 10s infinite;
      display:inline-block;
  }
  .slide_bottom{
      width:100%;
      height:100px;
  }
  img{
      width:100%;
      height:80%
  }
  @keyframes carousal {
      0%{
          transform:translateX(0);
      }
      25%{
          transform:translateX(-25%);
      }
      50%{
          transform:translateX(-50%);
      }
      75%{
          transform:translateX(-75%);
      }
      100%{
          transform:translateX(-100%);
      }
  }

  #main_slider{
      white-space: nowrap;
      overflow: hidden;
  }

  .slider-heading{
    font-family: "Baskervville", "Playfair Display" , serif ;
    color : #0F172A ; 
    text-align: center;
    margin : 10px ;
  }

  .slider-price{
    font-family: "Baskervville" , serif ;
    margin : 8px ;
    text-align: center;
    color : #094304 ;
  }


    /* yaduyh */


        .dropdown-menu a:hover {
           color: rgb(94, 166, 142) !important; 
        }

        #bg-image-2-div{
            background-image: url(/images/bgimage2.jpg);
            background-size: cover ;
            background-attachment: fixed;
        }

        #fb-logo{
            background-image: url(/images/fblogo.webp);
            background-size: cover ;
        }

        #insta-logo{
            background-image: url(/images/instalogo.webp);
            background-size: cover ;
        }

        #tiktok-logo{
            background-image: url(/images/tiktoklogo.webp);
            background-size: cover ;
        }

        #whatsapp-logo{
            background-image: url(/images/whatsapplogo.webp);
            background-size: cover ;
        }

        #youtube-logo{
            background-image: url(/images/utubelogo.webp);
            background-size: cover ;
        }

        #empty-div{
            width : 100%;
            height : 50px;
            background-color: white;
        }

    </style>

  </head>
  <body>
    <header>
        <div id="empty-div"></div>
            <div class="row mx-auto" >

                <div class="col d-inline"><a class="text-dark text-decoration-none text-nowrap p-2" href="#">Home</a></div>
                <div class="col d-inline"><a class="text-dark text-decoration-none text-nowrap p-2" href="#">About Us</a></div>
                 
                 
                <div class="col d-inline dropdown">
                   <a class="text-dark text-decoration-none text-nowrap p-2 dropdown-toggle" href="#" id="bridalDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Bridal & Luxury Formalwear
                   </a>
                  <ul class="dropdown-menu" aria-labelledby="bridalDropdown">
                    <li><a class="dropdown-item" href="#">Valima & ReceptionWear</a></li>
                    <li><a class="dropdown-item" href="#">Modern Silhouettes</a></li>
                    <li><a class="dropdown-item" href="#">Pishwaaz & Gowns</a></li>
                    <li><a class="dropdown-item" href="#">Bridalwear & Baraat</a></li>
                  </ul>
                </div>
                <div class="col d-inline"><a class="text-dark text-decoration-none text-nowrap p-2" href="#">Jewellery</a></div>
                <div class="col d-inline"><a class="text-dark text-decoration-none text-nowrap p-2" href="#">Men's Wedding Attire</a></div>
                <div class="col d-inline"><a class="text-dark text-decoration-none text-nowrap p-2" href="#">Our Process-FAQs</a></div>
                <div class="col d-inline"><a class="text-dark text-decoration-none text-nowrap p-2" href="#">Measurements</a></div>
                <div class="col d-inline"><a class="text-dark text-decoration-none text-nowrap p-2" href="#">Contact</a></div>

            </div>

          </div> 

        
    </header>