<div class="container-fluid" id="main-div">

    <div class="container-fluid" id="center-div">

        <div class="row">

            <div class="col-12" id="background-img1-div"  >

                <div class="row bg-light" style="height : 55px;">
                    
                </div> 

                <div class="row" style="height : 60px;">

                <div class="col-lg-12 bg-light justify-content-center " style="height : 50px;">

                    

                </div>  

                </div> 

                <div class="row" style="height : 700px ; background-color : rgba(205, 208, 216, 0) ;">

                    <div class="col-4 align-self-center align-items-center" style="height : 450px; background-color : rgba(80, 94, 135, 0) ; font-family: PlayFair Display SC, serif;">

                        <h5 class="text-white m-4" >A WHOLE NEW LOOK</h5>
                        <h1 class="text-white m-4 fw-bold fs-1" >HINA KHAN</h1>
                        <p class="text-white m-4" >Step into a world where tradition intertwines seamlessly with grace at Hina Khan, your haven for exquisitely crafted Pakistani Bridal Wear. Our Collection whispers tales of heritage and simplicity, inviting you to explore the beauty of subtlety on your special day.</p>
                        <button class="button border border-light bg-secondary m-4"><a class="text-white bg-secondary text-decoration-none" href="#">Luxury Bridals</a></button>
                            
                    </div>

                </div>

                <div class="row bg-light" style="height : 160px ">

                    <div class="col-12  mx-auto" style="font-family: PlayFair Display SC, serif;">

                        <h5 class="d-flex justify-content-center m-2 text-success fw-bold">A BRUSH OF PERFECTION</h5>
                        <h2 class="d-flex justify-content-center m-2 fw-bold fs-1" style="color: rgb(7, 61, 7);">HINA KHAN</h2>
                        <p class="d-flex justify-content-center m-2 text-secondary">Since 1983, led by the visionary Hina Khan, synonymous with timeless elegance in Pakistani Bridal Wear</p>

                    </div>

                </div>

                <div class="row bg-light" style="height : 825px ;">
                        <!-- carousel-animation -->

                        <div id ="main_slider">
                            <div class="slider">
                            <div class="slides_img">
                                <img src="/images/img1.jpg" alt="">
                                <div class="slide_bottom">
                                    <h3 class="slider-heading">Soft Pink raw silk Lehnga set</h3>
                                    <p class="slider-price">$2300</p>
                                </div>
                            </div>
                            <div class="slides_img">
                                <img src="/images/img2.jpg" alt="">
                                <div class="slide_bottom">
                                    <h3 class="slider-heading">Royal Pishwaz Lehnga bridal set</h3>
                                    <p class="slider-price">$2760</p>
                                </div>
                            </div>
                            <div class="slides_img">
                                <img src="/images/img3.jpg" alt="">
                                <div class="slide_bottom">
                                     <h3 class="slider-heading">Royal Lehnga</h3>
                                     <p class="slider-price">$2800</p>
                                </div>
                            </div>
                            <div class="slides_img">
                                <img src="/images/img4.jpg" alt="">
                                <div class="slide_bottom">
                                    <h3 class="slider-heading">Beige Lenhga and blouse raw silk</h3>
                                    <p class="slider-price">$2780</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="slider">
                            <div class="slides_img">
                                <img src="/images/img1.jpg" alt="">
                                <div class="slide_bottom">
                                    <h3 class="slider-heading">Soft Pink raw silk Lehnga set</h3>
                                    <p class="slider-price">$2300</p>
                                </div>
                            </div>
                            <div class="slides_img">
                                <img src="/images/img2.jpg" alt="">
                                <div class="slide_bottom">
                                    <h3 class="slider-heading">Royal Pishwaz Lehnga bridal set</h3>
                                    <p class="slider-price">$2760</p>
                                </div>
                            </div>
                            <div class="slides_img">
                                <img src="/images/img3.jpg" alt="">
                                <div class="slide_bottom">
                                    <h3 class="slider-heading">Royal Lehnga</h3>
                                     <p class="slider-price">$2800</p>
                                </div>
                            </div>
                            <div class="slides_img">
                                <img src="/images/img4.jpg" alt="">
                                <div class="slide_bottom">
                                    <h2 class="slider-heading">Beige Lenhga and blouse raw silk</h2>
                                    <p class="slider-price">$2780</p>
                                </div>
                            </div>
                        </div>
                          </div>


                        <!-- carousel end -->
                </div>

            </div>

    </div>

    <div class="row bg-light d-flex justify-content-center p-2 " style="height : 690px;">

        <div class="col-9 bg-light p-2" style="width : 1000px;">
            <img class="img-fluid" src="/images/image.png">
        </div>

    </div>

    <div class="row bg-success" id="bg-image-2-div" style="height : 750px ">

        <div class="col-12 bg-info" style="height : 380px ">
            <div class="row">

                <div class="col-4 bg-light p-4 " style="height : 380px ">
                    <h4 class="d-flex justify-content-center fw-bold fs-4" style="font-family: FairPlay Display SC , serif; color : rgb(8, 43, 8);">SIGNATURE COUTURE</h4>
                    <p class="text-secondary">Every piece at Hina Khan is a masterpiece, meticulously crafted by skilled artisans who breathe life into dreams. Our bridal ensembles boast intricate hand embroidery, embellishments, and luxurious fabrics that harmonize to create a symphony of elegance. From delicate zardozi to resplendent threadwork, each stitch narrates a story of heritage and finesse.</p>
                </div>
                <div class="col-4 bg-light p-4 " style="height : 380px ">
                    <!-- <i class="fa-solid fa-plane-departure"></i> -->
                    <h4 class="d-flex justify-content-center fw-bold fs-4" style="font-family: FairPlay Display SC , serif; color : rgb(5, 52, 5);">INTERNATIONAL SHIPPING</h4>
                    <p class="text-secondary">
                        Whether you’re celebrating in the heart of London, under the starlit skies of California, or in a destination wedding abroad, Hina Khan brings global glamour to your bridal trousseau. Embrace the allure of Pakistani traditions with a touch of contemporary chic that transcends borders.
                    </p>
                </div>
                <div class="col-4 bg-light p-4" style="height : 380px ">
                    <h4 class="d-flex justify-content-center fw-bold fs-4" style="font-family: FairPlay Display SC , serif; color : rgb(3, 39, 3);">CUSTOMER SERVICE</h4>
                    <p class="text-secondary">
                        Whether you’re celebrating in the heart of London, under the starlit skies of California, or in a destination wedding abroad, Hina Khan brings global glamour to your bridal trousseau. Embrace the allure of Pakistani traditions with a touch of contemporary chic that transcends borders.
                    </p>
                </div>

            </div>

            <div class="row">

                <div class="col-12 d-flex justify-content-center align-items-center" style="height : 370px ; background-color: rgba(93, 93, 96, 0.5);">
                    <h2 class="text-white fw-bold fs-1" style="font-family: FairPlay Display SC , serif;">HINA KHAN BRIDALS</h2>
                </div>

            </div>
            
        </div>

        
    </div>

     <div class="row bg-light" style="height : 110px "></div>

     <div class="row bg-light d-flex justify-content-center" style="height : 900px ">
        <div class="col-12 bg-light " style="height : 200px ">
            <a class="d-flex justify-content-center fw-bold fs-1 text-decoration-none p-4" style="font-family: FairPlay Display SC , serif ; color : rgb(3, 47, 3); " href="#" ><b>BRIDAL LOOKS</b></a>
            <p class="d-flex justify-content-center">
                Discover the allure of understated opulence blending the classic charm of Pakistan’s cultural heritage with a touch of contemporary aesthetics.
            </p>
        </div>
        <div class="col-3 p-3 m-3" style="height: 300px;">
            <img class="img-fluid " src="/images/image1.jpg">
        </div>
        <div class="col-3  p-3 m-3" style="height : 300px ">
            <img class="img-fluid " src="/images/image2.jpg">
        </div>
        <div class="col-3  p-3 m-3" style="height : 300px ">
            <img class="img-fluid " src="/images/image3.jpg">
        </div>
        <div class="col-3  p-3 m-3" style="height : 300px ">
            <img class="img-fluid " src="/images/image4.jpg">
        </div>
        <div class="col-3 bg-light p-3 m-3" style="height : 300px ">
            <img class="img-fluid " src="/images/image5.jpg">
        </div>
        <div class="col-3 p-3 m-3" style="height : 300px ">
            <img class="img-fluid" src="/images/image6.jpg">
        </div>

     </div>

     <div class="row bg-light" style="height : 150px ; "></div>

    <div class="row bg-light" style="height : 750px ; ">

        <div class="col-12 bg-light" style="height : 200px ;">

            <h5 class="text-success d-flex justify-content-center p-3 m-2 fw-bold" style="font-family: PlayFair Display SC , serif; ">SOFISTICATION AND GRACE</h5>
            <h2 class="d-flex justify-content-center fw-bold fs-1 p-2" style="font-family: PlayFair Display SC , serif; color : rgb(11, 61, 11) ; ">LATEST PRODUCTS</h2>
            <p class="text-secondary d-flex justify-content-center" style="font-family: PlayFair Display SC , serif; ">
                Discover the allure of understated opulence in our designs that blend the classic charm of Pakistan's cultural heritage with a touch of contemporary aesthetics.
            </p>

        </div>

        <div class="col-3 bg-light d-flex justify-content-center" style="height : 490px ;">
            <div class="row">
                <div class="col bg-light " style="height : 290px; width : 280px ">
                    <img class="img-fluid" src="/images/picture1.jpg">
                </div>
                <div class="col-12 bg-light p-2 " style="height : 190px ">
                    <button class=" col-11 button border border-secondary text-secondary d-flex text-align-start p-2 m-2 fs-6" style="height : 40px ; font-family: PlayFair Display SC, serif;">Read More</button>
                    <h5 class="text-dark fw-bold" style="font-family: PlayFair Display SC, serif ;">Yellow-Gold Yellow Sapphire Ring</h5>
                </div>

            </div>
        </div>
        <div class="col-3 bg-light d-flex justify-content-center" style="height : 490px ;">
            <div class="row">
                <div class="col bg-light " style="height : 290px; width : 280px ">
                    <img class="img-fluid" src="/images/picture2.jpg">
                </div>
                <div class="col-12 bg-light p-2 " style="height : 190px ">
                    <button class=" col-11 button border border-secondary text-secondary d-flex text-align-start p-2 m-2 fs-6" style="height : 40px ; font-family: PlayFair Display SC, serif;">Read more</button>
                    <h5 class="text-dark fw-bold" style="font-family: PlayFair Display SC, serif ;" >White And Silver Pearl Zircon Earrings</h5>
                </div>

            </div>
        </div>
        <div class="col-3 bg-light d-flex justify-content-center" style="height : 490px ;">
            <div class="row">
                <div class="col bg-light " style="height : 290px; width : 280px ">
                    <img class="img-fluid" src="/images/picture3.jpg">
                </div>
                <div class="col-12 bg-light p-2 " style="height : 190px ">
                    <button class=" col-11 button border border-secondary text-secondary d-flex text-align-start p-2 m-2 fs-6" style="height : 40px ; font-family: PlayFair Display SC, serif;">Select Options</button>
                    <h5 class="text-dark fw-bold" style="font-family: PlayFair Display SC, serif ;">Velvet-Silk A-Line Shirt with Jamawar Culottes</h5>
                    <div id="price-div1" class="price-div">$220-$249</div>

                    <button class="check-button text-secondary border border-secondary bg-light" style="width : 34px ;">Yes</button>
                    <button class="check-button text-secondary border border-secondary bg-light" style="width : 34px ;">No</button>
                </div>

            </div>

        </div>
        <div class="col-3 bg-light d-flex justify-content-center" style="height : 490px ;">
            <div class="row">
                <div class="col bg-light " style="height : 290px; width : 280px ">
                    <img class="img-fluid" src="/images/picture4.webp">
                </div>
                <div class="col-12 bg-light p-2 " style="height : 190px ">
                    <button class=" col-11 button border border-secondary text-secondary d-flex text-align-start p-2 m-2 fs-6" style="height : 40px ; font-family: PlayFair Display SC, serif;">Select Options</button>
                    <h5 class="text-dark fw-bold" style="font-family: PlayFair Display SC, serif ;">Velvet Shirt with Silk Chatta Patti and Culottes and Net Dupatta</h5>
                    <div >$220-$249</div>

                    <button class="check-button text-secondary border border-secondary bg-light" style="width : 34px ;">XXS</button>
                    <button class="check-button text-secondary border border-secondary bg-light" style="width : 34px ;">XS</button>
                    <button class="check-button text-secondary border border-secondary bg-light" style="width : 34px ;">S</button>
                    <button class="check-button text-secondary border border-secondary bg-light" style="width : 34px ;">M</button>
                    <button class="check-button text-secondary border border-secondary bg-light" style="width : 34px ;">L</button>

                </div>

            </div>
        </div>

        

    </div>

    <div class="row bg-light" style="height: 120px ;"></div>

    <div class="row " style="height : 300px ; background-color: rgba(101, 195, 163, 0.4);">
        <div class="col-6  d-flex justify-content-center align-item-center">
            <h2 class="fs-1 fw-bold d-flex align-self-center" style="color : rgb(12, 50, 12); font-family: PlayFair Display SC, serif;">SIGN-UP FOR <br>UPDATES FROM HINA <br>KHAN</h2>
        </div>
        <div class="col-6">
                <div class="row " style="height : 120px ; margin-top : 90px ; ">
                    <input type="email" class="col-10 m-1" style="height : 45px ;" placeholder="Enter your email address">
                    <button class="col-3 button border-secondary  m-1 border border-light text-secondary rounded-corner" style="height : 35px; ">Subscribe</button>
                </div>
        </div>
    </div>

    <div class="row bg-light" style="height : 100px ;"></div>

    <div class="row bg-light" style="height : 800px ;">
        <div class="col-4 ">
            <div class="row p-2">

                <div class="col-12 " style="height : 570px ;">
                    <img class="img-fluid" src="/images/photo1.jpg">
                </div>
                <div class="col-12  p-2" style="height : 210px;">
                    <h3  class="fw-bold fs-1" style="color : rgb(17, 61, 17) ; font-family : PlayFair Display, serif">SEMI-FORMAL</h3>
                    <p class="text-secondary">
                        Every piece at Hina Khan is a masterpiece, meticulously crafted by skilled artisans who breathe life into dreams.
                    </p>
                    <button class="button border border-secondary bg-secondary text-white" style="width : 110px ; height : 40px; margin-left : 180px ;">shop now</button> 

                </div>

            </div>
        </div>
        <div class="col-4 ">
            <div class="row p-2">

                <div class="col-12 " style="height : 570px ;">
                    <img class="img-fluid" src="/images/photo2.jpg">
                </div>
                <div class="col-12  p-2" style="height : 210px;">
                    <h3 class="fw-bold fs-1" style="color : rgb(17, 61, 17) ; font-family : PlayFair Display, serif">EVENING</h3>
                    <p class="text-secondary">
                        Our bridal ensembles boast intricate hand embroidery, embellishments, and luxurious fabrics that harmonize to create a symphony of elegance.
                    </p>
                    <button class="button border border-secondary bg-secondary text-white" style="width : 110px ; height : 40px; margin-left : 180px ;">shop now</button> 

                </div>

            </div>
        </div>
        <div class="col-4 ">
            <div class="row p-2">

                <div class="col-12 " style="height : 570px ;">
                    <img class="img-fluid" src="/images/photo3.jpg">
                </div>
                <div class="col-12  p-2" style="height : 210px;">
                    <h3 class="fw-bold fs-1" style="color : rgb(17, 61, 17) ; font-family : PlayFair Display, serif">VALIMA</h3>
                    <p class="text-secondary">
                        Our Valima Collections, are perfectly designed for you, from delicate zardozi to resplendent threadwork, each stitch narrates a story of heritage and finesse.
                    </p>
                    <button class="button border border-secondary bg-secondary text-white" style="width : 110px ; height : 40px; margin-left : 180px ;">shop now</button> 

                </div>

            </div>
        </div>
    </div>

    <div class="row bg-light" style="height : 100px ;"></div>

    <div class="row bg-light" style="height : 900px ;">
        <div class="col-6 ">
            <div class="row ">
                <div class="col-12 pt-4" style="height : 100px ;">
                    <h2 class="fw-bold fs-1" style="font-family : PlayFair Display SC, serif; color : rgb(14, 48, 14)">JEWELLERY</h2>
                </div>
                <div class="col-12 p-2 " style="height : 537px ;">
                    <img class="img-fluid" src="/images/pic1.jpg">
                </div>
                <div class="col-12 mt-3" style="height : 210px ;">
                    <p class="text-secondary fst-italic">
                        Discover the timeless radiance of Hina Khan’s bridal jewelry, where each piece is a celebration of simplicity, authenticity, and the inherent beauty of your special day. Indulge in the refined allure of Hina Khan’s bridal jewelry, a collection where timelessness meets tradition.
                    </p>
                    <button class="col-4 button border border-secondary bg-secondary mt-4" style="height : 40px ; margin-left : 200px ;">
                        <a class="text-white text-decoration-none" href="#">Jewellery by Hina</a>
                    </button>
                </div>
            
            </div>

        </div>
        <div class="col-6 ">
            <div class="row ">
                <div class="col-12 pt-4" style="height : 100px ;">
                    <h2 class="fw-bold fs-1" style="font-family : PlayFair Display SC, serif; color : rgb(14, 48, 14)">MEN'S ATTIRE</h2>
                </div>
                <div class="col-12 p-2 " style="height : 537px ;">
                    <img class="img-fluid" src="/images/pic2.jpg">
                </div>
                <div class="col-12 mt-3" style="height : 210px ;">
                    <p class="text-secondary fst-italic">
                        Discover the epitome of sophistication with our exclusive collection of men’s wedding attire. At Hina Khan, we celebrate the art of dressing well, ensuring that every groom steps into a new chapter with confidence and style. Exceptional Men’s Wedding Attire.
                    </p>
                    <button class="col-4 button border border-secondary bg-secondary mt-5" style="height : 40px ; margin-left : 200px ;">
                        <a class="text-white text-decoration-none" href="#" >Men's Attire</a>
                    </button>
                    
                </div>
            
            </div>

        </div>

    </div>

    

</div>





